@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 0 0% 89.1%;
  --input: 0 0% 97.3%;
  --ring: 4.3 97.6% 56.9%;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --primary: 4.3 97.6% 56.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 4.3 97.6% 56.9%;
  --accent-foreground: 0 0% 100%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.6%;
  --radius: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 4.3 97.6% 56.9%;
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98.2%;
    --primary: 4.3 97.6% 56.9%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 74.3%;
    --accent: 4.3 97.6% 56.9%;
    --accent-foreground: 0 0% 9%;
    --popover: 0 0% 3.6%;
    --popover-foreground: 0 0% 98.2%;
    --card: 0 0% 3.6%;
    --card-foreground: 0 0% 98.2%;
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings:
    "rounding-params" atan2(98.1, 60)
    clamp(0deg, 0.1deg, 120deg);
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.animate-slide-in {
  animation: slide-in 0.3s ease-in-out;
}
